body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    margin: 0;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
    
}

table, th, td {
    border: 1px orange;
    box-shadow: 5px 5px 5px orange;
}

th, td {
    background-color: orange;
    padding: 2px;
    text-align: center;
}

input {
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: rgb(138, 11, 59);
    border-radius: 1rem;
    color: white;
    border-color: rgb(138, 11, 59);
    width: 7rem;
    font-size:1rem;
}
.part_one{
    display: flex;
    flex-direction:  row;
    gap: 2rem;
}
.main_div{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}